.about-section {
    
    width: 100%;
    height: 80vh;
    padding: 2rem;
    margin-top: 2rem;

.form-form {
    width: 100vw;
    padding-left: 5%;
    padding-top: 5%;
    h2 {
        position: relative;
        width: 90%;
        padding: 0;
        margin: 0;
        margin-bottom: 0;

        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;

        color: #26368f;
    }

    input[type=text] {
        position: relative;
        box-sizing: border-box;
        width: 90%;
        top: -10px;
        height: 50px;
        padding: 0;
        margin: 0;

        margin-bottom: 5%;

        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        border: 1px solid #182880;
        border-radius: 5px;
    }
    input[type=file] {
        display: none;
    }
    .bigbox {
        // display: none;
        position: relative;
        box-sizing: border-box;
        width: 90%;
        top: 10px;
        height: 50px;
        padding: 0;
        margin: 0;
        display: inline-block;

        margin-bottom: 5%;

        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        padding: 5%;
        color: rgba(6, 17, 79, 0.3);
        border: 1px solid #3a4ebe;
        border-radius: 5px;
        height: 150px;
        // margin-bottom: 7%;
        
    }

    ::placeholder {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;

        padding: 5%;
        color: rgba(6, 17, 79, 0.3);
    }
    button[type=submit] {
        
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;

        color: #FFFFFF;
        background: #3f50b5;
        //text-align: center;

        border: none;
        padding-top: 5px;
        border-radius: 5px;
        
        margin-left: 27%;
        width: 40%;
        padding: 10px;
        height: 50px !important;
        // padding-left: 60px;
        // padding-right: 60px;
    }
}
}
